body {
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  background-color: var(--colorSecundario);
}

:root {
  --colorPrimario:#b5ebda;
  --colorSecundario:#101311;
}