/* Variables */
:root {
  --colorPrimario:#b5ebda;
  --colorSecundario:#101311;
  --colorTerciary:#b5ebda90;
  --colorWhite: white;
  --colorGrey: rgba(255, 255, 255, 0.501);
  --fontPrimary: 'Syncopate', Arial, Helvetica, sans-serif;
  --fontSecundary: 'Jost', Helvetica, sans-serif;
  --h1Size: 64px;
  --h2Size: 40px;
  --h3Size: 30px;
  --bodySize: 32px;
  --bodySize2: 24px;
}

/* Ajustes generales */
/* Cursor */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: var(--colorPrimario);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
}

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  cursor: none;
  margin: 0;
  padding: 0;
  font-family: var(--fontSecundary);
  font-size: 16px;
  background-color: var(--colorSecundario);
  color: var(--colorWhite);
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: var(--fontPrimary);
}

.container-main {
  max-width: 1200px;
  margin: 100px auto 0px auto;   
  padding: 50px 20px;
  width: 100%;
  box-sizing: border-box;
}

/*Luz en movimiento decoración*/
.light {
  position: absolute;
  border-radius: 50%;
  /*animation: moverX 16s infinite alternate ease-in-out;*/
  filter: blur(125px);
  width: 650px;
  height: 650px;
  z-index: -10;
  opacity: 0.5;
  background-color: #4CC2B2;
  top: -400px;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;
}

@keyframes moverX {
  0% {transform: translateX(0);}
  100% {transform: translateX(100vw);}
}

/* Menú de navegación */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: none;
  background-color: transparent;
  box-shadow: none;
  transition: background-color 0.2s ease, backdrop-filter 0.2s ease, box-shadow 0.2s ease;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  background-color: rgba(28, 31, 30, 0.5);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  list-style: none;
  margin: 1rem auto;
  padding: 0.5rem;
  max-width: 1200px;
  box-sizing: border-box;
}

.menu li {
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  display: flex;
}

.menu li a {
  color: var(--colorWhite);
  text-decoration: none;
  position: relative;
  transition: color 0.4s ease, transform 0.4s ease, border-color 0.4s ease;
  border-bottom: 2px solid transparent;
}

.menu li a:hover {
  transform: scale(1.1);
  color: var(--colorPrimario);
}

.menu li span {
  color: var(--colorPrimario);
  font-size: 2rem;
  font-family: var(--fontPrimary);
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.menu li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--colorPrimario);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.menu li a:hover::after {
  transform: scaleX(1);
}

.menu li a.active_link {
  color: var(--colorPrimario);
  border-bottom: 2px solid var(--colorPrimario); 
  transform: scale(1.1);
}

.logo_web {
  width: 60px;     /* Ajusta el tamaño que quieras */
  height: auto;     /* Mantiene la proporción */
}

/* Menú hamburguesa móviles */
.menu-toggle {
  font-size: 28px;
  cursor: pointer;
  color: var(--colorWhite);
  display: none; /* solo visible en móvil */
  z-index: 1100;
}

/* Iconos Redes sociales */
.socialMedia {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-content: center;
  right: 30px;
  top: 110px;
  gap: 2px;
  font-size: 30px;
  padding: 16px 16px 8px 16px;
  margin: 16px 16px 8px 16px;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.05); /* fondo blanco semitransparente */
  border-radius: 12px;
  backdrop-filter: blur(8px); /* efecto glassmorphism */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  z-index: 12;
}

.socialMedia li {
  list-style: none;
}

.socialMedia li a {
  color: var(--colorWhite);
}

.bxl.bx-behance{
  font-size: 34px;
}

.bxl.bx-github{
  font-size: 32px;
}

.socialMedia li i:hover {
  color: var(--colorPrimario);
  transform: scale(1.1);
}

/*Volver arriba boton*/
#backToTop {
  position: fixed;
  display: inline-flex;
  bottom: 50px;
  right: 30px;
  color: white;
  border: none;
  padding: 10px 10px 10px 20px;
  cursor: pointer;
  font-size: 20px;
  font-family: var(--fontSecundary);
  z-index: 10;
  transition: opacity 0.3s ease;
  background-color: rgba(255, 255, 255, 0.05); /* fondo blanco semitransparente */
  border-radius: 12px;
  backdrop-filter: blur(8px); /* efecto glassmorphism */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateX(110px);
  opacity: 0;
  transition: opacity 1.2s ease, transform 1.2s ease;
  pointer-events: none;
}

#backToTop.show {
  display: inline-flex;
  text-align: center;
  opacity: 1;
  transform: translateX(-10px);
  pointer-events: auto; /* vuelve a poder clicarse */
}

#backToTop.show:hover {
  background-color: #55555590;
}

#backToTop i {
  font-size: 30px;
}

/* Encabezado principal en movimiento */
.title_content {
  max-width: 4000px; 
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 2;
  margin: 0 auto; 
}

.cinta {
  display: flex;
  white-space: nowrap;
  animation: mover 80s linear infinite;
  z-index: 2;
  padding-top: 1.5rem;
  margin-top: 33rem;
}

.bloque {
  display: flex;
  z-index: 2;
}

.item {
  display: inline-block;
  align-items: center;
  font-size: 10rem;
  font-family: var(--fontPrimary);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--colorPrimario);
  padding: 0 3rem;
  z-index: 2;
}

@keyframes mover {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*Footer*/
.title_content2 {
  width: 4000px;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 1.5rem;
  margin: 10.5rem auto 0 auto; 
}

.cinta2 {
  display: flex;
  white-space: nowrap;
  align-content: center;
  justify-content: center;
  animation: mover1 90s linear infinite;
}

.bloque2 {
  display: flex;
}

.icon-behance-size {
  font-size: 38px;
}

.item1 {
  display: flex;
  align-items: center;
  font-size: 10rem;
  font-family: var(--fontPrimary);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--colorPrimario);
  padding: 0 3rem;
}

@keyframes mover1 {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.item2 {
  display: flex;
  align-items: center;
  font-size: 10rem;
  font-family: var(--fontPrimary);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--colorPrimario);
  padding: 0 3rem;
  overflow: hidden;
}

.bloque2 a {
  text-decoration: none;
}

.bloque2 a:hover {
  text-decoration: underline;
  color: var(--colorPrimario);
}

footer {
  position: relative;     /* Para que .light2 se posicione respecto al footer */
  overflow: hidden;       /* Oculta la parte inferior de la luz */
  height: 500px;
}

.piedepagina {
  text-align: center;
  color: var(--colorPrimario);
  opacity: 0.5;
  font-size: 1.5rem;
  margin-top: 16px;
}

.light2 {
  position: absolute;
  border-radius: 50%;
  /*animation: moverX 16s infinite alternate ease-in-out;*/
  filter: blur(125px);
  width: 650px;
  height: 650px;
  z-index: -10;
  opacity: 0.5;
  background-color: #4CC2B2;
  bottom: -425px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  overflow: hidden;
}

/* Subtítulo de Encabezado principal en movimiento */
.subtitle_content {
  max-width: 4000px;
  overflow: hidden;
  background: transparent;
  white-space: nowrap;
  font-family: var(--fontSecundary);
  font-size: 2.5rem;
  color: var(--colorTerciary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
  margin: 0 auto 0.5rem auto; /* centrado */
  z-index: 2;
}

.cinta_sub {
  display: flex;
  animation: mover_sub 65s linear infinite;
}

.bloque_sub {
  white-space: nowrap;
  display: inline-block;
}

@keyframes mover_sub {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}

/*Página Home*/
.photo_container {
  position: absolute;
  top: 100px;
  right: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 0;
  filter: grayscale(100%);
  transition: filter 2s ease-in-out;
}

.hero_photo {
  max-width: 525px;
  height: auto;
  mask-image: linear-gradient(black 85%, transparent);
  filter: drop-shadow(0 0 20px var(--colorTerciary));
  padding: 0 20px; /* Añade espacio horizontal a la izquierda y derecha */
  z-index: 0;
  margin-top: 30px;
}

.photo_container:hover {
  filter: grayscale(0%);
  opacity: 1;
  transition: filter 1.5s ease-in-out;
}

.intro-text {
  font-style: italic;
  position: absolute;
  font-size: 20px;
  left: 50%;
  top: 320px;
  text-align: center;
  color: var(--colorWhite);
  white-space: nowrap;
  transition: opacity 2s ease, transform 2s ease;
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0;
  z-index: -1;
  font-weight: 300;
}

.intro-text2 {
  font-style: italic;
  position: absolute;
  font-size: 20px;
  left: 50%;
  top: 320px;
  text-align: center;
  color: var(--colorWhite);
  white-space: nowrap;
  transition: opacity 2s ease, transform 2s ease;
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0;
  z-index: -1;
  font-weight: 300;
}

h2 {
  font-size: var(--h2Size);
  text-align: center;
  color: var(--colorPrimario);
  margin: 20px auto 20px auto;
}

.parragragh_style1 {
  font-size: var(--bodySize);
  color: var(--colorWhite);
  font-family: var(--fontSecundary);
  margin: 30px auto;
  padding: 16px 0 16px 0;
  line-height: 160%;
  font-weight: 350;
  max-width: 800px;
  min-width: 250px;
}

.parragragh_style2 {
  font-size: var(--bodySize2);
  color: var(--colorGrey);
  font-family: var(--fontSecundary);
  margin: 30px auto;
  padding: 16px 0 16px 0;
  line-height: 180%;
  font-weight: 400;
  max-width: 800px;
}

.parragragh_style3 {
  font-size: 25px;
  color: var(--colorPrimario);
  font-family: var(--fontSecundary);
  margin: 30px auto;
  padding: 16px 0 16px 0;
  line-height: 160%;
  font-weight: 450;
  width: 800px;
  font-style: italic;
}

.button-primary {
  padding: 12px 40px;
  background-color: var(--colorPrimario);
  border-radius: 50px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.4;
}

a.button-primary {
  margin: 60px auto 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--colorSecundario);
  width: max-content;
  flex-direction: row;
  gap: 6px;
  transition: transform 0.3s ease;
}

.bx-arrow-up-right-stroke {
  font-size: 2rem;
  color: var(--colorSecundario);
}

.bx-right-arrow-alt {
  font-size: 2rem;
}

a.button-primary:hover {
  transform: scale(1.1);
  box-shadow: 0 0 12px rgba(181, 235, 218, 0.6);
}

.section_space {
  margin-top: 220px;
}

.section_light_space {
  margin-top: 300px;
}

.fondo_banner {
  background-color: #1c1f1e;
  width: 100vw;   /* ancho total del viewport */
  margin-left: calc(-50vw + 50%); /* truco para sacarlo del contenedor */
  padding: 40px 0;
  text-align: center;
}

.services_band_container {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  row-gap: 60px;
  color: var(--colorWhite);
  text-align: center;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.services_band_container p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  flex-direction: column-reverse;
  animation-name: colorScaleAnim;
  animation-duration: 5s;  /* duración total de la animación por cada elemento */
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: ease;
  color: var(--colorWhite);
}

.bxs-brush, .bxs-layout, .bx-code, .bx-movie, .bxs-crown {
  font-size: 2.5rem;
}

/* Animación que cambia color y escala */
@keyframes colorScaleAnim {
  0%, 15% {
    color: var(--colorWhite);
    transform: scale(1);
  }
  35% {
    color: var(--colorPrimario);
    transform: scale(1.1);
  }
  65%, 100% {
    color: var(--colorWhite);
    transform: scale(1);
  }
}

.services_band_container p:nth-child(1) {
  animation-delay: 0s;
}
.services_band_container p:nth-child(2) {
  animation-delay: 1s;
}
.services_band_container p:nth-child(3) {
  animation-delay: 2s;
}
.services_band_container p:nth-child(4) {
  animation-delay: 3s;
}
.services_band_container p:nth-child(5) {
  animation-delay: 4s;
}

/*Página Proyectos*/
h1 {
  font-size: var(--h1Size);
  text-align: center;
  color: var(--colorPrimario);
  margin: 140px auto 20px auto;
  font-style: normal;
}

/*Página Contacto*/
.section_space2 {
  margin-top: 50px;
  margin-bottom: 150px;
}

.form_container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 800px;
  font-family: var(--fontSecundary);
  margin: 0 auto;
  box-sizing: border-box;
}

input[name="email"],
input[name="name"],
input[name="asunto"] {
  background-color: #1c1f1e;
  color: var(--colorWhite);
  padding: 16px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  border-radius: 7px;
  width:100%;
  margin: 0;
}

textarea[name="descripcion"] {
  background-color: #1c1f1e;
  color: var(--colorWhite);
  border: none;
  font-family: var(--fontSecundary);
  font-size: 20px;
  font-weight: 400;
  border-radius: 7px;
  width: 100%;
  min-height: 250px;
  padding: 16px;
  margin-bottom: 12px;
}

button {
  padding: 12px 40px;
  background-color: var(--colorPrimario);
  border-radius: 50px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.4;
  border: none;
  font-size: 16px;
  font-family: inherit; /* Asegura fuente heredada */
  cursor: pointer;
}

.button-secondary {
  font-size: 16px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--colorSecundario);
  width: 100%;
  flex-direction: row;
  gap: 6px;
  transition: transform 0.3s ease;
}

button.button-secondary:hover {
  transform: scale(1.1);
  box-shadow: 0 0 12px rgba(181, 235, 218, 0.6);
}

p.parragragh_style3 a {
  color: var(--colorPrimario);
  text-decoration: none;
}

p.parragragh_style3 a:hover {
  text-decoration: underline;
}

/*Página Sobre mí*/
.sobre_mi_photo {
  display: flex;
  justify-content: center;
  max-width: 525px;
  mask-image: linear-gradient(black 80%, transparent);
  padding: 0 20px;
  margin: 80px auto;
  background-color: var(--colorPrimario);
}

.scroll-flip-down {
  opacity: 0;
  transform: rotateX(-90deg);
  transform-origin: top;
  transition: transform 0.8s ease, opacity 0.8s ease;
  will-change: transform, opacity;
}

.scroll-flip-down.visible {
  opacity: 1;
  transform: rotateX(0deg);
}

/*Banda animada de aplicaciones iconos de herramientas*/
.tech-band {
  overflow: hidden;
  background-color: #1c1f1e;
  padding: 50px 0;
  margin: 60px auto 90px auto;
  width: 100%;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

.tech-track {
  display: flex;
  width: max-content;
  animation: scrollIcons 30s linear infinite;
  gap: 80px;
}

.tech-icon {
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block; 
  pointer-events: visible;
}

.icon-html { background-image: url("images/logos_software/html.png"); }
.icon-css { background-image: url("images/logos_software/css-3.png"); }
.icon-figma { background-image: url("images/logos_software/figma.png"); }
.icon-ilustrator { background-image: url("images/logos_software/ilustrator.png"); }
.icon-indesign { background-image: url("images/logos_software/indesign.png"); }
.icon-js { background-image: url("images/logos_software/js.png"); }
.icon-photoshop { background-image: url("images/logos_software/photoshop.png"); }
.icon-github { background-image: url("images/logos_software/github.png"); }
.icon-premiere { background-image: url("images/logos_software/premiere.png"); }
.icon-visual-studio-code { background-image: url("images/logos_software/Visual_Studio_Code.png"); }
.icon-after-effects { background-image: url("images/logos_software/after-effects.png"); }
.icon-xd { background-image: url("images/logos_software/xd.png"); }

.icon-repsol { background-image: url("images/logos_marcas/repsol-logo-512px.png"); filter: grayscale(100%);}
.icon-genetic { background-image: url("images/logos_marcas/GeneticAustria.png"); filter: brightness(0) invert(1); }
.icon-dico { background-image: url("images/logos_marcas/DicoCreative.png"); filter: brightness(0) invert(1); }
.icon-unido { background-image: url("images/logos_marcas/unido-logo-512px.png"); filter: brightness(0) invert(1); }
.icon-pp { background-image: url("images/logos_marcas/pp-logo-512px.png"); filter: brightness(0) invert(1); }
.icon-workana { background-image: url("images/logos_marcas/workana-logo-512px.png"); filter: grayscale(100%); }
.icon-aprender { background-image: url("images/logos_marcas/aprender-logo-512px.png"); filter: brightness(0) invert(1); }
.icon-flymobile { background-image:url("images/logos_marcas/flymobile-logo-512px.png"); filter: brightness(0) invert(1); }
.icon-suprive { background-image: url("images/logos_marcas/suprive-logo-512px.png"); filter: brightness(0) invert(1); }
.icon-trabajar { background-image: url("images/logos_marcas/trabajar-logo-512px.png"); filter: brightness(0) invert(1); ;}
.icon-david { background-image: url("images/logos_marcas/david-logo-512px.png"); filter: brightness(0) invert(1); }
.icon-who { background-image: url("images/logos_marcas/who-logo-512px.png"); filter: brightness(0) invert(1); }

.icon-repsol:hover { filter: grayscale(0%);}
.icon-unido:hover { filter: none; }
.icon-genetic:hover { filter: none; }
.icon-dico:hover { filter: none; }
.icon-pp:hover { filter: none; }
.icon-workana:hover { filter: grayscale(0%);}
.icon-aprender:hover { filter: none; }
.icon-flymobile:hover { filter: none; }
.icon-suprive:hover { filter: none; }
.icon-trabajar:hover { filter: none; }
.icon-david:hover { filter: none; }
.icon-who:hover { filter: none; }

@keyframes scrollIcons {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.socialMedia2 {
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  color: white;
  font-size: 30px;
  padding: 16px 20px 0 16px;
  margin: 27px 20px 16px 65px;
  float: left;
  border-right: solid 2px white;
}

.socialMedia2 li {
  list-style: none;
  padding-bottom: 12px;
}

.socialMedia2 li a {
  color: var(--colorWhite);
}

.socialMedia2 li i:hover {
  color: var(--colorPrimario);
  transform: scale(1.1);
}

/* Página Servicios */

h3 {
  font-size: var(--h3Size);
  text-align: left;
  color: var(--colorWhite);
  margin: 20px auto 20px auto;
  line-height: 140%;
}

.services_card_container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
}

.services_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 350px;
  padding: 40px 30px;
  transition: 0.3s ease-in;
  border-radius: 10px;
  background-color: #1c1f1e;
  gap: 1rem;
}

.services_card:hover {
  box-shadow: 0 0 20px var(--colorPrimario);
}

.parragragh_style4 {
  font-size: var(--bodySize2);
  color: var(--colorWhite);
  font-family: var(--fontSecundary);
  line-height: 160%;
  font-weight: 350;
  max-width: 800px;
}

.projects_cards__show_container {
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: flex;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  padding: 80px 0px;
  gap: 50px;
  justify-content: left;
}

.projects_cards__show_container li {
  list-style: none;
  flex-shrink: 0;
  flex: 0 0 auto;
}

.projects_cards__show_container li img {
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.4);
  object-fit: cover;
}

.scroll-arrow {
  font-size: 48px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 35%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 10px;
  transition: 0.3s ease;
}
.scroll-arrow:hover {
  background-color:var(--colorPrimario);
  color: var(--colorSecundario);
}

.left-arrow {
  left: 0px;
}
.right-arrow {
  right: 0px;
}

.projects_wrapper {
  position: relative;
  width: 100%;
}

/* Página Habilidades */
.skill-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-flow: column;
  gap: 100px;
}

.skill-bar {
  margin-bottom: 2.3rem;
}

.skill-main h3 {
  text-align: center;
}

.skill-left .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.skill-left .skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: #1c1f1e;
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.skill-bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--colorPrimario);
  border-radius: 25px;
  box-shadow:  0 0 12px #b5ebda;
}

.skill-bar .bar .adobe {
  width: 0%;
}

.skill-bar .bar .adobe.animate {
  width: 90%;
  animation: adobe 2s;
}

.skill-bar .bar .branding {
  width: 0%;
}

.skill-bar .bar .branding.animate {
  width: 80%;
  animation: branding 3s;
}

.skill-bar .bar .tipografia {
  width: 0%;
}

.skill-bar .bar .tipografia.animate {
  animation: tipografia 4s;
  width: 90%;
}

.skill-bar .bar .digitales {
  width: 0%;
}

.skill-bar .bar .digitales.animate {
  animation: digitales 5s;
  width: 85%;
}

.skill-bar .bar .color {
  width: 0%;
}

.skill-bar .bar .color.animate {
  width: 80%;
  animation: color1 6s;
}

.skill-bar .bar .motion {
  width: 0%;
}

.skill-bar .bar .motion.animate {
  width: 75%;
  animation: motion 7s;
}

.skill-bar .bar .react {
  width: 0%;
}

.skill-bar .bar .react.animate {
  width: 70%;
  animation: react 4s forwards;
}

@keyframes adobe {
  from{width: 0%;}
  to{width: 90%;}
}

@keyframes branding {
  from{width: 0%;}
  to{width: 80%;}
}

@keyframes tipografia {
  from{width: 0%;}
  to{width: 90%;}
}

@keyframes digitales {
  from{width: 0%;}
  to{width: 85%;}
}

@keyframes color1 {
  from{width: 0%;}
  to{width: 80%;}
}

@keyframes motion {
  from{width: 0%;}
  to{width: 75%;}
}

@keyframes react {
  from{width: 0%;}
  to{width: 70%;}
}

.professional {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  margin: 10px 0;
  flex: 1 1 15rem;
  position: relative;
}

.box .text {
  text-align: center;
  color: white;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.box .text .big {
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 1px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box .text small {
  display: block;
  font-weight: 600;
  font-size: 20px;
}

.circle {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle .points {
  width: 2px;
  height: 12px;
  background-color: #1c1f1e;
  position: absolute;
  border-radius: 3px;
  transform: rotate(calc(var(--i)*7deg)) translateY(-55px);
}

.points.marked {
  animation: glow 0.04s linear forwards;
  animation-delay: calc(var(--i)*0.05s);
  opacity: 1;
}

@keyframes glow {
  from{ background-color: #1c1f1e; box-shadow: none;}
  to{background-color: var(--colorPrimario); box-shadow:  0 0 12px #b5ebda;}
}

/* Página trayectoria */
.parragragh_style5 {
  font-size: var(--bodySize);
  color: var(--colorWhite);
  font-family: var(--fontSecundary);
  margin: 0 auto;
  padding: 0;
  line-height: 160%;
  font-weight: 450;
  max-width: 800px;
}

.parragragh_style6 {
  font-size: var(--bodySize2);
  color: var(--colorGrey);
  font-family: var(--fontSecundary);
  margin: 10px auto;
  padding-bottom: 10px;
  line-height: 180%;
  font-weight: 400;
  max-width: 800px;
}

.container-formation {
  display: flex;
  gap: 100px;
  flex-direction: column;
}

/*Luz estática decoración*/
.light3-position {
  position: relative;
  margin: 160px auto 60px auto;
  height: 500px;
  width: 100%;
}

.light3 {
  position: absolute;
  /*animation: moverX 16s infinite alternate linear;*/
  border-radius: 50%;
  size: 120px;
  filter: blur(125px);
  width: 600px;
  height: 600px;
  z-index: -10;
  opacity: 0.5;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background-color: #4CC2B2;
  overflow-x: hidden;
}

.container-stadistics {
  height: 500px;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card-stadistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parragragh_style7 {
  font-size: 90px;
  color: var(--colorPrimario);
  font-family: var(--fontPrimary);
  font-weight: 750;
}

.parragragh_style8 {
  font-size: var(--bodySize2);
  color: var(--colorPrimario);
  font-family: var(--fontSecundary);
  line-height: 180%;
  font-weight: 400;
  max-width: 800px;
}

/* Página servicios */
.services_band_container2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 100px;
  color: var(--colorWhite);
  text-align: center;
  font-weight: 500;
  padding-top: 0px;
}

.services_band_container2 p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  color: var(--colorWhite);
  transition: transform 0.4s ease-in-out;
}

.services_band_container2 a {
  text-decoration: none;
}

.services_band_container2 p:hover {
  color: var(--colorPrimario);
  transform: scale(1.10);
}

#grafico, #ux, #branding, #video, #web {
  scroll-margin-top: 200px; /* ajusta según la altura de tu header */
}

/* Página proyectos */
/*Banda animada de marcas que colaboraron conmigo*/
.tech-band2 {
  display: inline-block;
  justify-content: center;
  overflow: hidden;
  background-color: #1c1f1e;
  padding: 50px 0;
  margin: 60px auto 90px auto;
  width: 100%;
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

.tech-track2 {
  display: flex;
  justify-content: center;
  width: max-content;
  animation: scrollIcons 50s linear infinite;
  gap: 80px;
}

.parragragh_style9 {
  font-size: 25px;
  color: var(--colorWhite);
  font-family: var(--fontSecundary);
  margin: 0;
  padding: 0;
  line-height: 160%;
  font-weight: 400;
  max-width: 800px;
}

.parragragh_style10 {
  font-size: 1.5rem;
  color: var(--colorPrimario);
  font-family: var(--fontSecundary);
  margin: 0;
  padding: 0;
  line-height: 130%;
  font-weight: 400;
  max-width: 800px;
}

.flex_container_projects {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap:50px;
}

.project_card  {
  display: flex;
  flex-direction: column;
  background-color: #1c1f1e;
  border-radius: 12px;
  box-shadow: 0 0 10px transparent;
  overflow: hidden;
  transition: 0.3s ease;
}

.project_card:hover {
  box-shadow: 0 0 20px var(--colorPrimario);
}

.image_wrapper {
  width: 100%;
  height: 350px; /* o fija si prefieres */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_project_container {
  margin: 0;
  display: flex;
  object-fit: cover; 
  transition: transform 0.3s ease, box-shadow 0.3s linear;
  align-items: flex-start;
}

.image_wrapper:hover .image_project_container {
  transform: scale(1.08);
}

#vertodos {
  scroll-margin-top: 200px; /* ajusta según la altura de tu header */
}

.project_card_text {
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
  background-color: #1c1f1e; /* igual que el fondo de la tarjeta */
}

.vertodos_proyectos {
  text-align: center; 
  color: var(--colorWhite); 
  font-size: 1.75rem; 
  font-weight: 400;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 120px;
}

.vertodos_proyectos a i {
  font-size: 30px;
}

.vertodos_proyectos:hover {
  color: var(--colorPrimario); 
}

.space_herramientas {
  margin-top: 200px; 
  margin-bottom: 80px;
}

.section_space11 {
    margin-top: 250px;
}

.h1_margin_top {
  margin-top: 260px;
}

.h2_proyectos_margen {
  text-align: center; 
  margin-bottom: 80px;
}

@media (max-width: 1024px) {
  :root {
    --h1Size: 48px;
    --h2Size: 32px;
    --h3Size: 24px;
    --bodySize: 24px;
    --bodySize2: 18px;
  }
  
  .custom-cursor {
    display: none !important; /* se oculta el div del cursor */
  }

  body {
    cursor: auto !important; /* vuelve el cursor original */
    font-size: 14px;
  }

  .light {
  position: absolute;
  border-radius: 50%;
  width: 400px;       /* reducir tamaño */
  height: 400px;      /* reducir tamaño */
  top: 0%;           /* centrar verticalmente */
  left: 50%;          /* centrar horizontalmente */
  transform: translate(-50%, -50%); /* centrar perfecto */
  filter: blur(100px);
  background-color: #4CC2B2;
  z-index: -10;
  opacity: 0.5;
  overflow: hidden;
  /* Eliminamos animación */
  animation: none;
  }

  .light2 {
  position: absolute;
  border-radius: 50%;
  width: 400px;       /* reducimos tamaño */
  height: 400px;
  top: 100%;           /* centrado vertical */
  left: 50%;          /* centrado horizontal */
  transform: translate(-50%, -50%); /* centrado perfecto */
  filter: blur(100px); 
  background-color: #4CC2B2;
  opacity: 0.5;
  pointer-events: none;
  overflow: hidden;
  animation: none;    /* eliminamos animación */
  z-index: -10;
  }

  .container-main {
    margin: 60px auto 0 auto;  /* margen superior aún más pequeño */
    padding: 30px 10px;        /* padding reducido */
  }

  .menu {
    gap: 2.5rem; /* reducimos espacio */
  }
}

@media (max-width: 768px) {
  :root {
  --h1Size: 36px;   /* un poco más pequeña */
  --h2Size: 30px;
  --h3Size: 24px;
  --bodySize: 22px;
  --bodySize2: 18px;
  }

  body {
  font-size: 14px; /* reducir ligeramente para pantallas muy pequeñas */
  margin: 0;
  }

  .container-main {
  margin: 40px auto 0 auto;  /* margen superior más pequeño */
  padding: 20px 30px;         /* padding reducido al mínimo */
  width: 100%;               
  box-sizing: border-box;
  }

  nav.scrolled {
    position: static;     /* deja de estar fixed */
    backdrop-filter: none;
    box-shadow: none;
    background-color: transparent;
  }

  nav {
    position: static;
  }

  .menu li span {
    font-size: 1.5rem; /* logo/texto más pequeño */
  }

  .menu {
    margin: 0;
    display: none; /* 🔥 se oculta en móvil por defecto */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    background-color: rgba(28, 31, 30, 0.95);
    height: 100%;
    width: 100%;
    padding: 2rem 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }

  .menu.active {
    display: flex; /* aparece al pulsar ☰ */
  }

  .menu-toggle {
    display: block; /* 🔥 visible solo en móvil */
    margin: 1rem 1.5rem 1rem 1.5rem;
    width: max-content;
  }

  .photo_container {
    display: none;
  }

  .socialMedia {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    gap: 2rem;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    flex-direction: row;
    justify-content: center;
  }

  .bxl.bx-behance {
    font-size: 42px;
  }
  
  .bxl.bx-github,
  .bxl.bx-linkedin {
    font-size: 32px;
  }

  .cinta {
    margin-top: 0px;
    animation: mover 45s linear infinite;
  }

  .title_content {
    margin-top: 200px;
  }

  .subtitle_content {
    font-size: 2rem;
  }

  .item, .item1, .item2 {
    font-size: 6rem;
  }

  .item1 {
    padding: 0 1.5rem;
  }

  .container-main {
    margin: 0 auto;  /* margen superior más pequeño */
  }

  .section_space {
    margin-top: 220px;
  }

  .section_space11 {
    margin-top: 160px;
  }

  .piedepagina {
    font-size: 1.25rem;
  }

  .services_band_container {
    font-size: 1.5rem;
    gap: 60px;
    padding: 20px;
  }

  .services_band_container p {
    flex-direction: row;
    gap: 16px;
    justify-content: flex-start;
  }

  .fondo_banner {
    padding: 60px 0px;
  }

  .container-stadistics { 
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
  }

  .tech-icon {
    width: 50px;
    height: 50px;
  }

  .space_herramientas {
  margin-top: 200px; 
  margin-bottom: 40px;
  }

  .h1_margin_top {
  margin-top: 100px;
  }

  .flex_container_projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 0px;
  }

  .h2_proyectos_margen {
  margin-top: 80px;
  }

  .services_band_container2 {
   flex-wrap: wrap;
   font-size: 1.5rem;
   gap: 40px;
  }

  .services_band_container2 p {
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }

  .socialMedia2 {
    display: none;
  }

  .parragragh_style7 {
    font-size: 5rem;
  }

  .projects_cards__show_container {
    padding: 40px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    margin: 0;
    gap: 60px;
    width: 100%;
    position: static;
  }

  .parragragh_style10 {
    font-size: 1.5rem;
    font-weight: 450;
  }

  .parragragh_style9 {
    font-size: 1.25rem;
  }

  .project_card {
    max-width: 340px;
    padding: 0;
  }

  .image_wrapper {
    height: 300px;
    border-radius: 10px 10px 0px 0px;
  }

  .image_project_container {
    height: 300px;
    padding: 0 30px;
  }

  .project_card_text {
    padding: 20px 30px;
  }

  .vertodos_proyectos {
    font-size: 1.5rem;
  }

  .bxs-brush, .bxs-layout, .bx-code, .bx-movie, .bxs-crown {
  font-size: 2rem;
  }

  .sobre_mi_photo {
    max-width: 100%;
    height: auto;
    margin: 40px auto;
  }

  .tech-track {
    display: flex;
    width: auto;
    animation: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .cinta2 {
    animation: mover1 35s linear infinite forwards;
  }

  .skill-main {
    display: inline-block;
  }

  .skill-rigth {
    margin-top: 100px;
  }

  .skill-left .skill-bar .info {
    padding: 0;
    align-items: normal;
  }
}