/* Variables */
:root {
  --colorPrimario:#b5ebda;
  --colorSecundario:#101311;
  --colorTerciary:#b5ebda90;
  --colorWhite: white;
  --colorGrey: rgba(255, 255, 255, 0.501);
  --fontPrimary: 'Syncopate', Arial, Helvetica, sans-serif;
  --fontSecundary: 'Jost', Helvetica, sans-serif;
  --h1Size: 64px;
  --h2Size: 40px;
  --bodySize: 32px;
  --bodySize2: 24px;
}

/* Ajustes generales */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: var(--colorPrimario);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  cursor: none;
  margin: 0;
  padding: 0;
  font-family: var(--fontSecundary);
  font-size: 16px;
  background-color: var(--colorSecundario);
  overflow: auto;
  color: var(--colorWhite);
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: var(--fontPrimary);
}

.container-main {
  max-width: 1200px;
  margin: 200px auto 0 auto;     
  padding: 100px 20px;
  width: 100%;
  box-sizing: border-box; 
}

/*Luz en movimiento decoración*/
.light {
  position: absolute;
  border-radius: 50%;
  size: 120px;
  animation: moverX 16s infinite alternate ease-in-out;
  filter: blur(125px);
  width: 650px;
  height: 650px;
  z-index: -10;
  opacity: 0.5;
  background-color: #4CC2B2;
  top: -400px;
  left: -295px;
  overflow-x: hidden;
}

@keyframes moverX {
  0% {transform: translateX(0);}
  100% {transform: translateX(100vw);}
}

/* Menú de navegación */
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  margin: 1rem auto;
  padding: 1.5rem;
  width: 85%;
  box-sizing: border-box;
}

.menu li {
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  display: flex;
}

.menu li a {
  color: var(--colorWhite);
  text-decoration: none;
  position: relative;
  transition: color 0.4s ease, transform 0.4s ease, border-color 0.4s ease;
  border-bottom: 2px solid transparent;
}

.menu li a:hover {
  transform: scale(1.1);
  color: var(--colorPrimario);
}

.menu li span {
  color: var(--colorPrimario);
  font-size: 2rem;
  font-family: var(--fontPrimary);
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.menu li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--colorPrimario);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.menu li a:hover::after {
  transform: scaleX(1);
}

.menu li a.active_link {
  color: var(--colorPrimario);
  border-bottom: 2px solid var(--colorPrimario); 
  transform: scale(1.1);
}

/* Iconos Redes sociales */
.socialMedia {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-content: center;
  right: 30px;
  top: 110px;
  gap: 2px;
  font-size: 30px;
  padding: 16px 16px 8px 16px;
  margin: 16px 16px 8px 16px;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.05); /* fondo blanco semitransparente */
  border-radius: 12px;
  backdrop-filter: blur(8px); /* efecto glassmorphism */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  z-index: 12;
}

.socialMedia li {
  list-style: none;
}

.socialMedia li a {
  color: var(--colorWhite);
}

.bxl.bx-behance{
  font-size: 34px;
}

.bxl.bx-github{
  font-size: 32px;
}

.socialMedia li i:hover {
  color: var(--colorPrimario);
  transform: scale(1.1);
}

/* Encabezado principal en movimiento */
.title_content {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 1.5rem;
  margin-top: 25.5rem;
  z-index: 2;
}

.cinta {
  display: flex;
  white-space: nowrap;
  align-content: center;
  animation: mover 110s linear infinite;
  z-index: 2;
}

.bloque {
  display: flex;
  z-index: 2;
}

.item {
  display: flex;
  align-items: center;
  font-size: 10rem;
  font-family: var(--fontPrimary);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--colorPrimario);
  padding: 0 3rem;
  z-index: 2;
}

@keyframes mover {
  0% {
    transform: translateX(35%);
  }
  100% {
    transform: translateX(0%);
  }
}

/*Footer*/
.title_content2 {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 1.5rem;
  margin-top: 10.5rem;
}

.cinta2 {
  display: flex;
  white-space: nowrap;
  align-content: center;
  animation: mover1 40s linear infinite;
}

.bloque2 {
  display: flex;
}

.item1 {
  display: flex;
  align-items: center;
  font-size: 10rem;
  font-family: var(--fontPrimary);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--colorPrimario);
  padding: 0 3rem;
}

@keyframes mover1 {
  0% {
    transform: translateX(35%);
  }
  100% {
    transform: translateX(0%);
  }
}

.item2 {
  display: flex;
  align-items: center;
  font-size: 10rem;
  font-family: var(--fontPrimary);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--colorPrimario);
  padding: 0 3rem;
  overflow: hidden;
}

.bloque2 a {
  text-decoration: none;
}

.bloque2 a:hover {
  text-decoration: underline;
  color: var(--colorPrimario);
}

footer {
  position: relative;     /* Para que .light2 se posicione respecto al footer */
  overflow: hidden;       /* Oculta la parte inferior de la luz */
  height: 500px;
}

.piedepagina {
  text-align: center;
  color: var(--colorPrimario);
  opacity: 0.5;
  font-size: 24px;
  margin-top: 16px;
}

.light2 {
  position: absolute;
  border-radius: 50%;
  size: 120px;
  animation: moverX 16s infinite alternate ease-in-out;
  filter: blur(125px);
  width: 650px;
  height: 650px;
  opacity: 0.5;
  background-color: #4CC2B2;
  bottom: -425px;
  left: -295px;
  pointer-events: none;
  overflow: hidden;
}

/* Subtítulo de Encabezado principal en movimiento */
.subtitle_content {
  width: 100%;
  overflow: hidden;
  background: transparent;
  white-space: nowrap;
  font-family: var(--fontSecundary);
  font-size: 2.5rem;
  color: var(--colorTerciary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  z-index: 2;
}

.cinta_sub {
  display: flex;
  animation: mover_sub 55s linear infinite;
}

.bloque_sub {
  white-space: nowrap;
  display: inline-block;
}

@keyframes mover_sub {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(45%);
  }
}

/*Página Home*/
.photo_container {
  position: absolute;
  top: 10%;
  right: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 0;
  filter: grayscale(100%);
  transition: filter 2s ease-in-out;
}

.hero_photo {
  max-width: 600px;
  height: auto;
  mask-image: linear-gradient(black 80%, transparent);
  filter: drop-shadow(0 0 30px var(--colorTerciary));
  animation: aparecer 2s ease-out forwards, resplandor 3s infinite alternate ease-in-out;
  padding: 0 50px; /* Añade espacio horizontal a la izquierda y derecha */
  z-index: 0;
}

.photo_container:hover {
  filter: grayscale(0%);
  opacity: 1;
  transition: filter 1.5s ease-in-out;
}

  @keyframes aparecer {
    from{opacity:0.2;}
    to {opacity: 1;}
    }

  @keyframes resplandor {
    0% {filter: drop-shadow(0 0 5px var(--colorWhite));}
    100% {filter: drop-shadow(0 0 20px var(--colorWhite));}
  }

h2 {
  font-size: var(--h2Size);
  text-align: center;
  color: var(--colorPrimario);
  margin: 20px auto 20px auto;
}

.parragragh_style1 {
  font-size: var(--bodySize);
  color: var(--colorWhite);
  font-family: var(--fontSecundary);
  margin: 30px auto;
  padding: 16px 16px;
  line-height: 160%;
  font-weight: 300;
  width: 800px;
}

.parragragh_style2 {
  font-size: var(--bodySize2);
  color: var(--colorGrey);
  font-family: var(--fontSecundary);
  margin: 30px auto;
  padding: 16px 16px;
  line-height: 180%;
  font-weight: 300;
  width: 800px;
}

/*Página Proyectos*/
h1 {
  font-size: var(--h1Size);
  text-align: center;
  color: var(--colorPrimario);
  margin: 140px auto 20px auto;
  font-style: normal;
}